<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/index.css" rel="stylesheet">
    <%- include('./partials/head.ejs') %>
        <title>Nail Store</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main>
            <div id="banner">
            <img src="/images/nailBanner.jpg" alt="baner">
            </div>
            <h1>OFERTAS</h1>
            <div class="main">
                <section class="product-section">
                    <% for (let i=1; i <=4; i++) { %>
                        <div class="product-box" id="product<%=i%>">
                            <div class="product-image">
                                <a href="/producto/<%=i%>">
                                    <img src="/images/<%=allProducts[i-1].image%>" alt="No responde">
                                </a>
                            </div>
                            <div class="product-description">
                                <a href="/producto/<%=i%>">
                                    <div class="product-prize">$ <%= allProducts[i-1].price %>
                                    </div>
                                    <div class="product-title">
                                        <%= allProducts[i-1].name %>
                                    </div>
                                </a>
                                <i class="fa-solid fa-cart-plus" id="cartPlus"></i>
                            </div>
                        </div>
                        <% } %>
                </section>
            </div>
            <h1>BASADO EN TUS BÚSQUEDAS</h1>
            <section class="product-section-personal">
                <% for (let i=3; i < 7; i++) { %>
                    <div class="product-box" id="product<%=i+10%>">
                        <div class="product-image">
                            <a href="/producto/<%=i%>">
                                <img src="/images/<%=allProducts[i-1].image%>" alt="No responde">
                            </a>
                        </div>
                        <div class="product-description">
                            <a href="/producto/<%=i%>">
                                <div class="product-prize">$ <%= allProducts[i-1].price %>
                                </div>
                                <div class="product-title">
                                    <%= allProducts[i-1].name %>
                                </div>
                            </a>
                            <i class="fa-solid fa-cart-plus" id="cartPlus"></i>
                        </div>
                    </div>
                    <% } %>
            </section>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>