<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/index.css" rel="stylesheet">
    <%- include('./partials/head.ejs') %>
        <title>Nail Store</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main>
            <img src="/images/banner.jpg" alt="baner" id="banner">
            <h1>OFERTAS</h1>
            <div class="main">
                <section class="product-section">
                    <% for (let i=1; i < 5; i++) { %>
                    <div class="product-box">
                        <div class="product-image">
                            <img src="/images/<%=allProducts[i].image%>" alt="No responde">
                        </div>
                        <div class="product-description">
                            <div class="product-prize">$ <%= allProducts[i].price %></div>
                            <div class="product-title"><%= allProducts[i].name %></div>
                        </div> 
                    </div>
                    <% } %>
                </section>
            </div>
            <h1>BASADO EN TUS BÚSQUEDAS</h1>
            <section class="product-section-personal">
                <% for (let i=3; i < 7; i++) { %>
                <div class="product-box">
                    <div class="product-image">
                        <img src="/images/<%=allProducts[i].image%>" alt="No responde">
                    </div>
                    <div class="product-description">
                        <div class="product-prize">$ <%= allProducts[i].price %></div>
                        <div class="product-title"><%= allProducts[i].name %></div>
                    </div>
                </div>
                <% } %>
            </section>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>