<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/userDetail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%- include('../partials/head.ejs') %>
        <title>Detalles del usuario</title>
</head>

<body>
    
    <%- include('../partials/header.ejs') %>
    <main>
        <article class="articulo">
            <div class="imgBox">
                <img id="img-product" src="/images/<%=user.image%>" alt="">
            </div>
            <div class="edits">
                <h4 class="h4">Nombre</h4>
                <p class="p"><%=user.name%></p>
                <h4 class="h4">Email</h4>
                <p class="p"><%=user.email%></p>
                <h4 class="h4">Fecha de nacimiento</h4>
                <p class="p"><%=user.born%></p>
                <a id="boton" href="<%= referer %>">Volver</a>
            </div>
        </article>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>