<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/stylesShop.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ce6a0d0b56.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    <%- include('../partials/head.ejs') %>
    <title>Tienda</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div class="main-title">
            Nuestra Tienda
        </div>
        <a href="/shop/product-creator" class="create-buton"><i class="fa-solid fa-plus"></i>Crea tu Producto</a>
        <% for(let i=0; i< allProducts.length; i++) {%>
            <ul>
                <li>
                    <article class="article-box">
                        <img src="<%= allProducts[i].image %>" alt="" srcset="">
                        <div>
                            Nombre
                        </div>
                        <a href="/detalle/<%= allProducts[i].id %>">
                            <div>
                            <%= allProducts[i].name %>
                            </div>
                        </a>
                        <div>
                            Precio
                        </div>
                        <div>
                            <%= allProducts[i].price %>
                        </div>
                    </article>
                </li>
            </ul>
        <%}%>
        
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>