<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/stylesShop.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ce6a0d0b56.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    <%- include('../partials/head.ejs') %>
        <title>Tienda</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <main>
            <div class="main-title">
                Nuestra Tienda
            </div>
            <a href="/shop/product-creator" class="create-buton"><i class="fa-solid fa-plus"></i> Crea tu Producto</a>
            <% for(let i=0; i< allProducts.length; i++) {%>
                <ul>
                    <li>
                        <article class="articulo">
                            <div class="imgBox">
                                <a href="/producto/<%=allProducts[i].id %>">
                                    <img id="img-product" src="/images/<%=allProducts[i].image%>" alt="">
                                </a>
                            </div>
                            <div class="edits">
                                <a href="/producto/<%=allProducts[i].id %>">
                                    <h3>
                                        <%= allProducts[i].name%>
                                    </h3>
                                    <div class="precio">$ <%= allProducts[i].price%>
                                    </div>
                                    <h4 class="h4">Descripción</h4>
                                    <p class="descripcion">
                                        <%= allProducts[i].description%>
                                    </p>
                                    <div class="categoria">
                                        <h5>Categoría: </h5>
                                        <p class="p">
                                            <%= allProducts[i].category%>.
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="admin">
                                <a href="/editar/<%=allProducts[i].id%>" class="editar"><p class="editText">EDITAR</p></a>
                                <form class="borrar" action="/delete/<%=allProducts[i].id%>" method="post">
                                    <button type="submit" class="borrarText"><p class="editText">BORRAR</p></button>
                                </form>
                            </div>
                        </article>
                    </li>
                </ul>
                <%}%>

        </main>
        <%- include('../partials/footer.ejs') %>
</body>

</html>